# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist
Week_2-6_Project_Guide.pdf
Week_2-6_Project_Guide.md
temp_project_inspection/
media.md
node1a_explained.md
yolov8n_analysis.md
node2a_explained.md
node3_explained.md
sensors.md
