# The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

# The language of the webpage
lang: en

# Change to your timezone
timezone: Europe/London

# jekyll-seo-tag settings
title: Final Year Project - Perception & SLAM
tagline: Building Autonomous Racing Systems
description: >-
  Documenting my final year project: developing a perception and SLAM system 
  for Formula Student AI autonomous racing. BEng Mechatronics & Robotics Engineering 
  at Middlesex University London.

# Fill in the protocol & hostname for your site
url: "https://shuaibu-oluwatunmise.github.io"

github:
  username: Shuaibu-oluwatunmise

social:
  name: Oluwatunmise Raphael Shuaibu
  email:
  links:
    - https://github.com/Shuaibu-oluwatunmise

theme_mode: # [light | dark]

cdn:

avatar: /assets/img/avatar.jpg

social_preview_image:

toc: true

comments:
  provider:

assets:
  self_host:
    enabled:

pwa:
  enabled: true
  cache:
    enabled: true
    deny_paths:

paginate: 10

baseurl: "/fyp-perception-slam"

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order
  techposts:
    output: true
    permalink: /techposts/:title/

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: ""
      type: techposts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /techposts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/